*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cateogary-container{
    /* border: 1px solid red; */
    padding: 1.5em;
}

.cateogary-container h1{
    margin-bottom: 1em;
}

.cateogaries-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1em;
}

.cateogaries-box section {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5em;
}

.cateogaries-box section h2{
    margin-bottom: .5em;
}

.cateogaries-box section ul li{
    list-style: none;
    margin: .2em 0;
}

.cateogaries-box section ul li a{
    text-decoration: none;
    color: #000;
}